@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --stellar-purple-100: #e0d7ff;
  --stellar-purple-300: #b399ff;
  --stellar-purple-900: #2a1b6e;
  --neon-blue-300: #6bd3ff;
  --neon-blue-400: #00a8ff;
  --stellar-gray-100: #f0f0f5;
  --stellar-gray-300: #c4c4d4;
  --stellar-gray-400: #8a8a9a;
  --space-black: #0a0a12;
}


.light {
  --background: #ffffff;
  --text: #000000;
}

.dark {
  --background: #1a1a1a;
  --text: #ffffff;
}


body {
  font-family: "Space Grotesk", sans-serif;
  background: var(--background);
  color: var(--text);
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: slow-spin 8s linear infinite;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Add this to your global CSS */
@keyframes gradient-shift {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient-shift {
  animation: gradient-shift 2s ease infinite;
}

@keyframes shimmer {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-shine {
  animation: shine 1.5s infinite;
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}


@keyframes burst {
  0% {
    transform: scale(0.95);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.4;
  }
}

.animate-burst {
  animation: burst 2.4s ease-in-out infinite;
}
